<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :admin_key %><br />
    <%= f.text_field :admin_key %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :'Release the messages?' %><br />
    <%= f.check_box :messages_released %>
  </div>

<p>
  <b>Users</b>
  <% @group.users.each do |user|   %>
  <tr>
    <td><%= link_to user.name, user_path(user) %></td>
  </tr>
  <% end %>
</p>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
