<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Admin key:</b>
  <%= @group.admin_key %>
</p>

<p>
  <b>Location:</b>
  <%= @group.location %>
</p>

<p>
  <b>Users</b>
  <% @group.users.each do |user|   %>
  <tr>
    <td><%= link_to user.name, user_path(user) %></td>
  </tr>
  <% end %>
</p>

<p>
  <b>Group Code</b>
  <%= @Group.object_id %>
</p>



<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
