<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Users:</b>
  <%= @group.users %>
</p>

<p>
  <b>Admin key:</b>
  <%= @group.admin_key %>
</p>

<p>
  <b>Messages:</b>
  <%= @group.messages %>
</p>

<p>
  <b>Location:</b>
  <%= @group.location %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
