<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Group ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
   <td  style="padding-right:10px;"><%= user.name %></td>
    <td  style="padding-right:10px;">
    	<% unless user.group.nil? %>
    		<%= user.group.name %>
    	<% end %>
    <td  style="padding-right:10px;"><%= user.group_id %></td>
    </td>
    <td  style="padding-right:10px;"><%= button_to 'Show', user, :class => "btn btn-info btn-mini",  :method => :get %></td>
    <%if current_user == user%>
        <td  style="padding-right:10px;"><%= button_to 'Edit', edit_user_path(user), :class => "btn btn-primary btn-mini",  :method => :get %></td>
        <td  style="padding-right:10px;"><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini",  :method => :get %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
