<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>

  <b>Is admin:</b>
  <%= @user.is_admin %>
</p>

<p>
  <b>Key:</b>
  <%= @user.key %>
</p>

<p>
  <b>Group:</b>
  <%= @user.group %>
</p>

<p>
	<b>Messages</b>
	<%= @user.messages %>
</p>

<a class="btn btn-primary">
	Test
</a>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
