<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>

  <b>Is admin:</b>
  <%= @user.is_admin %>
</p>

<p>
  <b>Key:</b>
  <%= @user.key %>
</p>

<p>
  <b>Group:</b>
  <% if @user.group != nil %>
      <%= @user.group.name%>
      <br/>
      <br/>
      
       <b>Group Members</b>
       <br/>
      <% @user.group.users.each do |u| %>
      <tr>
        <%= link_to u.name, user_path(u) %>
      </tr>
      <br/>
      <% end %>

  <% else %>
    Not in a group yet!
  <% end  %>

</p>

<p>

  

  

</p>



<p>
	<b>Recieved Messages</b>
  <br/>
	<% @user.messages.each do |m| %>
  <tr>
    <%= link_to m.from, message_path(m) %>
    <br/>
  </tr>

  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
