<h2> Edit Nice things </h2>

<h6> Group: <%= current_user.group.name %> </h6>
<h6> Member: <%= current_user.name %> </h6>
<br/>



<% current_user.group.users.each do |user| %>

	<% if user.id != current_user.id %>

		<br/><br/>
		<h6><%= user.name %></h6>
		<% value = "" %>

		<%= form_for :message do |f| %>

			<%  @messages.each do |m| %>

				<% if m.from == current_user.name && m.to == user.name %>
						<% value = m.body %>
						 <div class="field">
							<%= f.text_area(:body, :cols => 40, :rows => 20, :value => value) %>
						</div>
				<% end %>

			<% end %>

			<div class="actions">
	    		<%= f.submit %>
	  		</div>

		<% end %>


	<% end %>
<% end %>
